<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4" "http://jpf.sourceforge.net/plugin_0_4.dtd">
<plugin id="blackdog-basic-player" docs-path="../docs" version="0.0.1">
    
        <doc caption="doc_caption">
            <doc-ref path="fg" caption="rter"/>
            <doc-text>blabla</doc-text>
        </doc>
        
        <attributes>
            
            <attribute id="plugini18nDeclaration" value="plugin"/>
            
            <attribute id="category" value="editor"/>
            
            <attribute id="authors">
                <attribute id="author"         value="Alexis PARIS"/>
            </attribute>
            
            <attribute id="resources">
                <attribute id="1" value="org/blackdog/rc"/>
            </attribute>
            
        </attributes>
        
        <requires>
                <import plugin-id="blackdog-player" plugin-version="0.0.1"/>
                <import plugin-id="blackdog-types" plugin-version="0.0.1"/>
        </requires>
        
	<runtime>
		<library id="blackdog_spi_player_classes" path="classes/" type="code">
			<doc caption="API documentation">
				<doc-ref path="api/index.html" caption="javadoc"/>
			</doc>
			<export prefix="*"/>
		</library>
                
		<library id="jl"	      path="libs/jl-1.0.jar"               type="code"/>
		<library id="jogg"	      path="libs/jogg-0.0.7.jar"           type="code"/>
		<library id="jorbis"	      path="libs/jorbis-0.0.15.jar"        type="code"/>
		<library id="tritonus-share"  path="libs/tritonus_share-0.3.6.jar" type="code"/>
		<library id="basic-player"    path="libs/basicplayer-3.0.jar" type="code"/>
		<!--library id="tritonus_jorbis" path="libs/tritonus_jorbis-0.3.6.jar" type="code"/-->
		<library id="mp3spi"          path="libs/mp3spi-1.9.4.jar"         type="code">
                    <export prefix="*"/>
                </library>
		<library id="vorbisspi"       path="libs/vorbisspi-1.0.2.jar"      type="code">
                    <export prefix="*"/>
                </library>
		<library id="jflac"           path="libs/jflac-1.2.jar"      type="code">
                    <export prefix="*"/>
                </library>
                                                
	</runtime>
        
        <!-- ###########################################################
             ################## type definitions #######################
             ########################################################### -->
             
	<!--extension plugin-id="blackdog-player" point-id="Player" id="JSPlayer">
            <parameter id="class" value="blackdog-basic-player::org.blackdog.player.impl.JSPlayer"/>
	</extension-->
             
	<!--extension plugin-id="blackdog-player" point-id="Player" id="SpiPlayer">
            <parameter id="class" value="blackdog-basic-player::org.blackdog.player.impl.SpiPlayer"/>
	</extension-->
	<extension plugin-id="blackdog-player" point-id="Player" id="BlackdogBasicPlayer">
            <parameter id="class" value="blackdog-basic-player::org.blackdog.player.impl.BlackdogBasicPlayer"/>
	</extension>
             
	<!--extension plugin-id="blackdog-player" point-id="Player" id="JavazoomPlayer">
            <parameter id="class" value="blackdog-basic-player::org.blackdog.player.impl.JLAudioPlayer"/>
	</extension>
             
	<extension plugin-id="blackdog-player" point-id="Player" id="WavPlayer">
            <parameter id="class" value="blackdog-basic-player::org.blackdog.player.impl.WavAudioPlayer"/>
	</extension-->
        
</plugin>