<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4" "http://jpf.sourceforge.net/plugin_0_4.dtd">
<plugin id="siberia-kunststoff-laf" docs-path="../docs" version="0.5.0">
    
        <doc caption="doc_caption">
            <doc-ref path="fg" caption="rter"/>
            <doc-text>blabla</doc-text>
        </doc>
        
        <attributes>
            
            <attribute id="plugini18nDeclaration" value="plugin"/>
            
            <attribute id="category" value="laf"/>
            
            <attribute id="authors">
                <attribute id="author"         value="Alexis PARIS"/>
            </attribute>
            
        </attributes>
        
        <requires>
                <import plugin-id="siberia-laf" plugin-version="0.5.0"/>
        </requires>
        
	<runtime>
		<library id="siberia-kunststoff-laf-classes" path="classes/" type="code">
			<doc caption="API documentation">
				<doc-ref path="api/index.html" caption="javadoc"/>
			</doc>
			<export prefix="*"/>
		</library>
                
		<library id="laf-kunststoff"      path="libs/kunststoff-1.0.jar" type="code">
                    <export prefix="*"/>
		</library>
                
	</runtime>
        
        <!-- ###########################################################
             ###########################################################
             ############### extension definitions #####################
             ###########################################################
             ########################################################### -->
             
	<extension plugin-id="siberia-laf" point-id="LookAndFeel" id="Kunststoff">
            <parameter id="name" value="Kunststoff"/>
            <parameter id="class" value="siberia-kunststoff-laf::com.incors.plaf.kunststoff.KunststoffLookAndFeel"/>
            <parameter id="osPattern" value=""/>
	</extension>
        
</plugin>