<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4" "http://jpf.sourceforge.net/plugin_0_4.dtd">
<plugin id="siberia-graphics" docs-path="../docs" version="0.0.1">
    
        <doc caption="doc_caption">
            <doc-ref path="fg" caption="rter"/>
            <doc-text>blabla</doc-text>
        </doc>
        
        <attributes>
            
            <attribute id="plugini18nDeclaration" value="plugin"/>
            
            <attribute id="category" value="structure"/>
            
            <attribute id="authors">
                <attribute id="author"         value="Alexis PARIS"/>
            </attribute>
            
            <attribute id="resources">
                <attribute id="1" value="org/siberia/rc"/>
            </attribute>
            
        </attributes>
        
        <requires>
                <import plugin-id="siberia-types" plugin-version="0.0.1"/>
        </requires>
        
	<runtime>
		<library id="siberia-types-doc" path="classes/" type="code">
			<doc caption="API documentation">
				<doc-ref path="api/index.html" caption="javadoc"/>
			</doc>
			<export prefix="*"/>
		</library>
	</runtime>
        
        <!-- ###########################################################
             ###########################################################
             ############### extension definitions #####################
             ###########################################################
             ########################################################### -->
        
        <!-- ###########################################################
             ################## type definitions #######################
             ########################################################### -->
             
	<extension plugin-id="siberia-types" point-id="Type" id="Color">
            <parameter id="class" value="siberia-graphics::org.siberia.type.SibColor"/>
	</extension>
	<extension plugin-id="siberia-types" point-id="Type" id="Font">
            <parameter id="class" value="siberia-graphics::org.siberia.type.SibFont"/>
	</extension>
        
</plugin>