<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4" "http://jpf.sourceforge.net/plugin_0_4.dtd">
<plugin id="siberia-properties-ui" docs-path="../docs" version="0.5.0">
    
        <doc caption="doc_caption">
            <doc-ref path="fg" caption="rter"/>
            <doc-text>blabla</doc-text>
        </doc>
        
        <attributes>
            
            <attribute id="plugini18nDeclaration" value="plugin"/>
            
            <attribute id="category" value="graphic"/>
            
            <attribute id="authors">
                <attribute id="author"         value="Alexis PARIS"/>
            </attribute>
            
        </attributes>
        
        <requires>
                <import plugin-id="siberia-properties" plugin-version="0.5.0"/>
                <import plugin-id="siberia-types" plugin-version="0.5.0"/>
                <import plugin-id="siberia-resources" plugin-version="0.5.0"/>
                <import plugin-id="siberia-basic-components" plugin-version="0.5.0"/>
        </requires>
        
	<runtime>
		<library id="siberia-properties-ui-classes" path="classes/" type="code">
			<doc caption="API documentation">
				<doc-ref path="api/index.html" caption="javadoc"/>
			</doc>
			<export prefix="*"/>
		</library>
                
	</runtime>
        
        <!-- ###########################################################
             ################# extension points ########################
             ########################################################### -->
        
	<extension-point id="PropertiesRenderer">
            <parameter-def id="nature"/>
            <parameter-def id="class"/>
	</extension-point>
        
	<extension-point id="PropertiesEditor">
            <parameter-def id="nature"/>
            <parameter-def id="class"/>
	</extension-point>
        
        <!-- ###########################################################
             ###########################################################
             ############### extension definitions #####################
             ###########################################################
             ########################################################### -->
             
	<extension plugin-id="siberia-properties-ui" point-id="PropertiesEditor" id="textPropertiesRenderer">
            <parameter id="nature" value="text"/>
            <parameter id="class"  
            value="siberia-properties-ui::org.siberia.ui.properties.editor.TextFieldPropertyEditor"/>
	</extension>
        
	<extension plugin-id="siberia-properties-ui" point-id="PropertiesEditor" id="checkPropertiesRenderer">
            <parameter id="nature" value="check"/>
            <parameter id="class"  
            value="siberia-properties-ui::org.siberia.ui.properties.editor.CheckBoxPropertyEditor"/>
	</extension>
        
	<extension plugin-id="siberia-properties-ui" point-id="PropertiesEditor" id="comboPropertiesRenderer">
            <parameter id="nature" value="combo"/>
            <parameter id="class"  
            value="siberia-properties-ui::org.siberia.ui.properties.editor.ComboBoxPropertyEditor"/>
	</extension>
        
</plugin>