<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4" "http://jpf.sourceforge.net/plugin_0_4.dtd">
<plugin id="siberia-jgoodies-laf" docs-path="../docs" version="0.5.0">
    
        <doc caption="doc_caption">
            <doc-ref path="fg" caption="rter"/>
            <doc-text>blabla</doc-text>
        </doc>
        
        <attributes>
            
            <attribute id="plugini18nDeclaration" value="plugin"/>
            
            <attribute id="category"     value="laf"/>
            <attribute id="rebootNeeded" value="true"/>
            <attribute id="checkMode"    value="md5"/>
            
            <attribute id="authors">
                <attribute id="author"         value="Alexis PARIS"/>
            </attribute>
            
            <attribute id="resources">
                <attribute id="1" value="org/siberia/rc"/>
            </attribute>
            
        </attributes>
        
        <requires>
                <import plugin-id="siberia-laf" plugin-version="0.5.0"/>
        </requires>
        
	<runtime>
		<library id="siberia-jgoodies-laf-classes" path="classes/" type="code">
			<doc caption="API documentation">
				<doc-ref path="api/index.html" caption="javadoc"/>
			</doc>
			<export prefix="*"/>
		</library>
                
		<library id="laf-jgoodies"        path="libs/looks-1.2.2.jar" type="code">
                    <export prefix="*"/>
		</library>
                
	</runtime>
        
        <!-- ###########################################################
             ###########################################################
             ############### extension definitions #####################
             ###########################################################
             ########################################################### -->
             
	<extension plugin-id="siberia-laf" point-id="LookAndFeel" id="Plastic3D">
            <parameter id="name" value="Plastic 3D"/>
            <parameter id="class" value="siberia-jgoodies-laf::com.jgoodies.plaf.plastic.Plastic3DLookAndFeel"/>
            <parameter id="osPattern" value=""/>
	</extension>
             
	<extension plugin-id="siberia-laf" point-id="LookAndFeel" id="Plastic">
            <parameter id="name" value="Plastic"/>
            <parameter id="class" value="siberia-jgoodies-laf::com.jgoodies.plaf.plastic.PlasticLookAndFeel"/>
            <parameter id="osPattern" value=""/>
	</extension>
             
	<extension plugin-id="siberia-laf" point-id="LookAndFeel" id="ExtWindows">
            <parameter id="name" value="Ext Windows"/>
            <parameter id="class" value="siberia-jgoodies-laf::com.jgoodies.plaf.windows.ExtWindowsLookAndFeel"/>
            <parameter id="osPattern" value="win"/>
	</extension>
             
	<extension plugin-id="siberia-laf" point-id="LookAndFeel" id="Blackdog">
            <parameter id="name" value="Blackdog"/>
            <parameter id="class" value="siberia-jgoodies-laf::org.siberia.BlackdogLookAndFeel"/>
            <parameter id="osPattern" value=""/>
	</extension>
        
</plugin>